name: Karate API test
on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  maven-test:
    runs-on: ubuntu-latest
    name: Run tests with Karate

    steps:
      - uses: actions/checkout@v2
      - name: start json container
        run: docker run -d --rm -p 8000:80 -e "DB=users.json" -v ${{ github.workspace }}/json-server:/data ghcr.io/amado-saladino/json-server:v1

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: list the running containers
        run: docker ps

      - name: call json server for test
        run: curl localhost:8000/users

      - name: Run Tests with Maven
        run: mvn clean test

      - name: Test report
        uses: ScaCap/action-surefire-report@v1.0.5
        if: always()
        with:
          check_name: Maven Test Summary Report
          github_token: ${{ github.token }}
          report_paths: "target/surefire-reports/TEST-*.xml"

      - name: JUnit Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: JUnit Test Report
          path: target/surefire-reports/**/TEST-*.xml
          reporter: java-junit
          fail-on-error: 'false'

      - name: Cucumber report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: cucumber-report
          path: "target/cucumber-html-reports/*"